<a href="/#/" class="button success expand">Lookup Another Artist</a>
<div class="panel">
    <h3>Results for: {{ artistName }}</h3>

    <div data-ng-show="lookupError" data-alert class="alert-box alert text-center">
        {{ errorMessage }}
    </div>
    Originally From: {{ artist.origin[0] }}<br/><br/>
    <div style="line-height:150%">
        <span data-ng-repeat="genre in artist.genre">&nbsp;<span class="round label">{{ genre }}</span>&nbsp;</span>
    </div><br>
    <table class="large-12">
        <thead>
            <tr>
                <th>
                    <a data-ng-click="flipSort('name')">
                        <i data-ng-hide="sortOrder == '-name'" class="icon-chevron-up"></i>
                        <i data-ng-hide="sortOrder == 'name'" class="icon-chevron-down"></i></a>
                    Album Name<br>
                </th>
                <th>
                    <a data-ng-click="flipSort('release_year')">
                        <i data-ng-hide="sortOrder == '-release_year'" class="icon-chevron-up"></i>
                        <i data-ng-hide="sortOrder == 'release_year'" class="icon-chevron-down"></i>
                    </a>
                    Release Year<br>
                </th>
                <th>
                    <a data-ng-click="flipSort('release_type')">
                        <i data-ng-hide="sortOrder == '-release_type'" class="icon-chevron-up"></i>
                        <i data-ng-hide="sortOrder == 'release_type'" class="icon-chevron-down"></i>
                    </a>
                    Release Type<br>
                </th>
            </tr>
        </thead>
        <tr data-ng-repeat="album in albums |orderBy:sortOrder">
            <td>{{ album.name }}</td>
            <td>{{ album.release_date }}</td>
            <td>{{ album.release_type }}</td>
        </tr>
    </table>
</div>